aws = {
  region     = ""
  access_key = ""
  secret_key = ""
  account_id = ""
}

database_password = ""

circleci = {
  api_token    = ""
  vcs_type     = ""
  organization = ""
}

contexts = {

  common = {

    POSTGRES_DB       = "circle_test"
    POSTGRES_USER     = "postgres"
    POSTGRES_PASSWORD = ""
    POSTGRES_HOST     = "localhost"
    POSTGRES_PORT     = "5432"

    DJANGO_SETTINGS_MODULE = "src.settings.base"
    DJANGO_SECRET_KEY      = ""

    AWS_REGION     = ""
    AWS_ACCESS_KEY = ""
    AWS_SECRET_KEY = ""
    AWS_ACCOUNT_ID = ""

    DOCKER_IMAGE = ""

    CIRCLE_TOKEN    = ""
    CIRCLE_OWNER_ID = ""

    EC2_INSTANCE = ""

  }

  production = {

    DJANGO_SETTINGS_MODULE = "src.settings.production"

    DJANGO_SECRET_KEY = ""

    DJANGO_DEBUG = "False"

    DJANGO_SUPERUSER_EMAIL    = ""
    DJANGO_SUPERUSER_USERNAME = ""
    DJANGO_SUPERUSER_PASSWORD = ""

    AWS_ACCESS_KEY_ID       = ""
    AWS_BUCKET_DOMAIN_NAME  = ""
    AWS_SECRET_ACCESS_KEY   = ""
    AWS_STORAGE_BUCKET_NAME = ""

    POSTGRES_DB       = ""
    POSTGRES_HOST     = ""
    POSTGRES_PASSWORD = ""
    POSTGRES_PORT     = ""
    POSTGRES_USER     = ""

  }

}
